<!DOCTYPE html>
<html>
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body> 
    <div>
        
        
    </div>
    
    <form action="/edit-user/<%= user.id %>" method="POST">
        <div>
            <h1>Edit User</h1>
        </div>
        <div>
            <input type="text" name="name" value="<%= user.name %>" required> 
        </div>
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="superUser" <% if(user.role === 'superUser') { %>selected<% } %>>Super User</option>
                <option value="admin" <% if(user.role === 'admin') { %>selected<% } %>>Admin</option>
                <option value="admin" <% if(user.role === 'manager') { %>selected<% } %>>Manager</option>
                <option value="lead" <% if(user.role === 'lead') { %>selected<% } %>>Lead</option>
                <option value="employee" <% if(user.role === 'employee') { %>selected<% } %>>Employee</option>
            </select>
        </div>
        <div>
             <input type="email" name="email" value="<%= user.email %>" required>
             <input type="password" name="password" required>
        </div>
       
        
        <button type="submit">Update User</button>
        <a href="/users">cancel</a>
    </form>
</body>
</html>
