 
<header>
    <div class="logo">
       <a href="/"><img src="gwlogo.png" alt="Logo"></a> 
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (locals.user && locals.user === 'admin') { %>
                <li><a href="/newnumbers">New Numbers</a></li>
                <div class="dropdown">
                    <input type="button" class="dropbtn" onclick="toggleDropdown()" value="Edit Price List" />
                    <div id="myDropdown" class="dropdown-content">
                        <!-- <a href="/categories-with-items">List All</a> -->
                        <a href="/categories">Categories</a>
                     <!-- <a href="main-categories">Main Categories</a> -->
                        <!-- <a href="new-main-categories">New Main Category</a> -->
                    </div>
                </div>
                <!-- <li><a href="/dashboard">Dashboard</a></li> -->
                <!-- <li><a href="/ecom">ecom</a></li> -->
                <li><a href="/userresults">User Numbers</a></li>
           
    
     <% } %>
           
           
            <li><a href="/usertotals">My Totals</a></li>
            <li><a href="/categories-with-items">Price List</a></li>

            <% if (locals.isAuthenticated) { %>
                <li><a href="/logout">Log Out</a></li>
                <% } else { %>
                    <li><a href="login">Login</a></li>
                    <% } %>
        </ul>
    </nav>
</header>
<script src="server.js"></script>