<%- include('layout') %>
<body>
    <%- include('header') %>

    <div class="content">
        <h1>Hi <%= name %></h1>
        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>
    </div>
</body>
</html>
