<%- include('layout') %>
<body>
    <%- include('header') %>
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>
    <div class="content">
        <h1>Hi <%= name %></h1>
        <h2>Changing lives</h2>

      
    </div>
</body>
</html>
