<%- include('layout'); %>
<%- include('header'); %>
<!-- <ul>
    <% mainCategories.forEach(mainCategory => { %>
        <li>
            <a href="/main-categories/<%= mainCategory.id %>"><%= mainCategory.name %></a>
        </li>
    <% }) %>
</ul> -->

