<%- include('layout') %>
<body>
    <%- include('header') %>
    <h1>Main Categories</h1>
 
    <ul>
        <% mainCategories.forEach(mainCategory => { %>
            <li>
                <a href="/main-categories/<%= mainCategory.id %>"><%= mainCategory.name %></a>
            </li>
        <% }) %>
    </ul>
</body>
</html>