<%- include('layout') %>

<body>
    <%- include('header') %>
    <form action="/newuser" method="POST">
        <div>
            <label for="name">Name: </label>
            <input type="name" id="name" name="name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="role">Role:</label>
            <select id="role" name="role">
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="lead">Lead</option>
                <option value="employee">Employee</option>
            </select>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
          <button type="submit">ADD</button>
        <a href="/users">All Users</a>  
        
        
    </form>


</body>

</html>