<%- include('layout') %>
<body>
    <%- include('header') %>
    <h1 class="center"><%= pageTitle %></h1>
    <div class="checklist">
        <form class="p-form" action="">
            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Blue Tubs</label>
            </div>
            
            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Trash Dumped</label>
            </div>

            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Ecom</label>
            </div>
            
            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Full Melons replaced with empty ones</label>
            </div>

            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Blue Tubs</label>
            </div>

            <div class="checklist-item">
                <input type="checkbox" id="bluetubs" name="bluetubs">
                <label for="bluetubs">Blue Tubs</label>
            </div>
            <div class="divider"></div>
            <div class="checklist-item">
                <input type="text" name="note" class="num-input" id="note"> 
                <label for="note">Melons cleared</label>
                
            </div>

            <div class="checklist-item">
                <input type="text" name="note" class="num-input" id="note">
                <label for="note">Blue Tubs cleared</label>
                
            </div>

            <div class="notes">
                <label for="note">Notes for the day</label>
                <textarea type="textarea" name="note" id="note"></textarea> 
            </div>
            <button type="submit">submit</button>

        </form>
    </div>

</body>