<%- include('layout') %>

<body>
    <%- include('header') %>
    <div class="profile-container">
          <h1>Profile</h1>
    <p><%= locals.user_name %></p>
    <p><%= locals.user_email %></p> 
    </div>
 
</body>