<!DOCTYPE html>
<html>
<head>
    <title>Users List</title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body class="userlist">
    <h1>Users</h1>
    <form action="/delete-users" method="POST">
        <ul>
            <% users.forEach(user => { %>
                <li>
                    <input type="checkbox" name="userId[]" value="<%= user.id %>">
                    <%= user.name %> - <%= user.email %>
                    <a href="/edit-user/<%= user.id %>" class="edit-button">Edit</a>

                </li>
            <% }) %>
        </ul>
        <button type="submit">Delete Selected</button>
        <a href="/newuser">Create User</a>
    </form>
</body>
</html>