body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.content {
    padding: 20px;
    text-align: center; 
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto; 
    width: 300px; 
}

div {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=email], input[type=password], input[type=name] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.u-delete-form {
    width:70%;
}


/*****************************header****************************/

header {
    background-color: #333; 
    color: #fff; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px; 
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ff9900; 
}

.items-list {
    list-style: none;
    padding: 0;
}

.item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px; 
    border: 1px solid #ccc; 
    margin-bottom: 10px; 
    width:350px;
}

.item-name {
    flex-grow: 1;
    margin-right: 10px; 
}

.button-container {
    display: inline-block;
    gap: 10px; 
    margin:auto;
    align-items: center;
}

button {
    display: inline-block;
    margin: 5px;
    padding: 5px 8px;
    width:55px;
    font-size: 13px;
    color: #fff;
    background: linear-gradient(45deg, #6e48aa, #9d50bb);
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #9d50bb, #6e48aa);
}

.testingform {
    margin: 1px auto;
    padding: 1px;
    width: 105px;
    border-radius: 2px;
}
.item-count {
    margin-left: 10px;
}
table td{
    border-radius: 2px;
    border-color: black;
}
.reports {
    text-align:center;
}
.tcont {
    margin-left:10px;
}
.heading {
    text-align: center;
}
.tables-container {
    display: flex;
    justify-content: space-around;
    margin-left:10px;
}
.table-column {
    flex: 1;
}
table {
    margin-left:10px;
}
.center {
    text-align: center;
}
.headername {
    margin-left:5px;
}
td {
    text-align: center;
}

.reports {
    padding-right: 55px;
  
}

.logoutButton {
    width:80px;
}

.profile-container {
    margin:10px 10px;
}

.custom-button-container {
    text-align: center;
}

.custom-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(45deg, #6e48aa, #9d50bb);
    border: 1px solid transparent;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-decoration: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.custom-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    background: linear-gradient(45deg, #9d50bb, #6e48aa);
}

.custom-button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.checklist {
    /* max-width: 300px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.checklist h2 {
    text-align: center;
}

.checklist-item {
    margin-bottom: 10px;
}

.checklist-item input[type="checkbox"] {
    margin-right: 10px;
}
.p-form {
    /* width:263px */
}
.checklist-item {
    margin-bottom: 10px;
}

.checklist-item input[type="checkbox"],
.checklist-item label {
    vertical-align: middle;
    display: inline-block;
}

textarea {
    width: 100%; 
    height: 200px; 
    padding: 10px; 
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}
.num-input {
    width:20px;
}
.divider {
    height: 1px;
    background-color: #000;
    margin: 10px 0; /* Spacing above and below the line */
}